  body {
    background-image: url(https://wallpapertag.com/wallpaper/middle/a/a/4/955252-new-paw-prints-wallpaper-2048x1152.jpg);
    background-color: tan;
    text-align: center;
  }
  form {
    max-width: 500px;
    text-align: left;
    padding: 20px;
    border: 2px solid brown;
    border-radius: 12px;
    margin: auto;
    background-color: tan;
  }
  input {
    padding: 6px;
    border: none;
    border-radius: 6px;
  }
  .input-element {
    margin: 12px;
    display: flex;
    flex-direction: column;
  }
  select {
   padding: 6px;
    border: none;
    border-radius: 6px; 
  }
  input[type="checkbox"] {
  width: 17px;
  height: 17px
  }
  